---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout
  title="Podcast | Dada Chi"
  lang="de"
>
  <section class="section-pad max-w-screen-xl mx-auto">
    <h1 class="text-3xl md:text-4xl font-syne font-bold text-dc-black mb-6">Podcast</h1>
    <p class="text-base font-syne text-dc-black opacity-60">
      Dieser Inhalt wird bald verfügbar sein.
    </p>
  </section>
</PageLayout>
